{% extends 'core/base.html' %}
{%load static%}

{% block content%}
<section class="page-section">
  <div class="container pt-5 pb-5">
    <div id="div-left" class="row">
      <div class="col-lg-4">
        <img class=" img-fluid mb-3 mb-lg-0 rounded" src="{% static 'core/img/local.png' %}" alt="">
      </div>
      <div class="col-lg-6 home-title">
        <div class="bg-faded p d-flex mr-auto rounded ">
          <span class="section-heading-lower pb-4"> Desde cuando? </span>
        </div>
        <p>Hace dos décadas, un sueño tomó forma y nuestra peluquería nació con pasión y
          determinación. Desde entonces,
          hemos estado forjando un camino de crecimiento constante y logros inigualables.</p>
        <p>
          Nuestros humildes comienzos no fueron más que el cimiento de lo que somos hoy: un referente en el mundo de la
          belleza y el cuidado personal. Cada paso que hemos dado en este viaje ha estado impulsado por la dedicación y
          el esfuerzo incansable de nuestro talentoso equipo y el apoyo inquebrantable de nuestros fieles clientes.</p>
        <p>
          A lo largo de los años, hemos superado desafíos y abrazado oportunidades, evolucionando con las últimas
          tendencias y tecnologías. Cada innovación ha sido un escalón hacia adelante en nuestra misión de brindar
          servicios excepcionales y resultados sorprendentes.
        </p>

      </div>
    </div>
  </div>


</section>
{% endblock%}