{% extends 'core/base.html' %}
{% load static %}

{% block content%}
<!-- Cabecera -->
<section class="page-section">
  <div class="text-center">
    <h1 class="mx-auto">Marlene Peluquería</h1>
    <img id="logo" class=" img-fluid mb-3 mb-lg-0 rounded" src=" {% static 'core/img/logo.png' %}" alt="logo">
  </div>
  <div class="container pt-5 pb-5 ">
    <div id="div-left" class="row ">
      <div class="col-lg-4">
        <img class=" img-fluid mb-3 mb-lg-0 rounded" src="{% static 'core/img/peluqueramostrandopeinado.png' %}" alt="">
      </div>
      <div class="col-lg-6 home-title ">
        <div class="bg-faded p d-flex mr-auto rounded ">
          <span class="section-heading-lower pb-4">Quienes somos ? </span>
        </div>
        <p> Somos mucho más que tijeras y peines. Somos un equipo apasionado de estilistas que se esfuerzan por realzar
          la belleza en cada uno de nuestros clientes, sin importar la edad. Nuestra peluquería es un espacio donde la
          creatividad se une con la destreza técnica, y donde cada corte, color y estilo es una obra de arte única.
        </p>
        <p>
          En nuestra peluquería, no solo transformamos cabellos, sino que también construimos conexiones significativas.
          Nos enorgullece ser parte de los momentos especiales en la vida de nuestros clientes, desde cortes de cabello
          para ocasiones importantes hasta cambios de imagen espontáneos que reflejan nuevas etapas. Aquí, cada visita
          es una oportunidad para mimarte, relajarte y salir sintiéndote renovado.
        </p>
      </div>
    </div>
  </div>
  <div class="container pt-5 pb-5 ">
    <div class="row">
      <div class="col-lg-6">
        <div class="bg-faded p d-flex mr-auto rounded">
          <span class="section-heading-lower pb-4"> Para quienes? </span>
        </div>
        <p>En nuestra peluquería, hemos creado un espacio que acoge a personas de todas las edades, estilos y caminos de
          vida. Nuestro compromiso es servir como el destino perfecto para todos aquellos que buscan realzar su belleza
          y confianza, sin importar quiénes sean.
        </p>
        <p>
          Entendemos que cada cliente es único, con sus propias aspiraciones y necesidades. Para los jóvenes, estamos
          aquí para inspirarte y convertir tus visiones en realidad, ayudándote a explorar tu identidad y estilo. A los
          adultos, les ofrecemos la atención especializada que merecen, para mantenerse elegantes y frescos en cualquier
          ocasión.
        </p>
        <p>
          Para las familias que confían en nosotros, hemos creado un ambiente cálido y acogedor, donde todos pueden
          sentirse cómodos y cuidados. Y para aquellos aventureros que desean un cambio audaz, nuestros estilistas
          talentosos están listos para crear algo nuevo y emocionante.
        </p>
      </div>
      <div class="col-lg-4 home-title">
        <img class=" img-fluid mb-3 mb-lg-0 rounded " src="{% static 'core/img/services1.png' %}" alt="">
      </div>
    </div>

  </div>

  <div class="item container pb-3">
    <h2 class="p-4 text-dark">Te esperamos</h2>
    <div class="row  alaign-items-center ">
      <div class="col-md-4">
        <img class=" img-fluid mb-3 mb-lg-0 rounded shadow-image" src="{% static 'core/img/staff1.png' %}" alt="">
      </div>
      <div class="col-md-4"> <img class=" img-fluid mb-3 mb-lg-0 rounded shadow-image"
          src="{% static 'core/img/staff2.png' %}" alt="">
      </div>
      <div class="col-md-4"> <img class=" img-fluid mb-3 mb-lg-0 rounded shadow-image`"
          src="{% static 'core/img/staff3.png' %}" alt="">
      </div>
    </div>
  </div>
  <br>


</section>

<script src="{% static 'core/js/app.js' %}"></script>

{% endblock %}