{% extends 'core/base.html' %}
{% load static %}

{% block content%}
<!-- Cabecera -->
<section class="page-section">
  <div class="text-center p-3 ">
    <h1 class="fade-in-animation">Marlene Peluquería</h1>
  </div>
  <div class="container pt-5 pb-5 ">
    <div id="div-left" class="row ">
      <div class="col-lg-4">
        <img class=" img-fluid mb-3 mb-lg-0 rounded" src="{% static 'core/img/peluqueramostrandopeinado.png' %}" alt="">
      </div>
      <div class="col-lg-6 home-title ">
        <div class="bg-faded p d-flex mr-auto rounded ">
          <span class="section-heading-lower pb-4">Quienes somos ? </span>
        </div>
        <p> "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
          dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
          ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
          fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
          mollit anim id est laborum."
        </p>
      </div>
    </div>
  </div>
  <div class="container pt-5 pb-5 ">
    <div class="row">
      <div class="col-lg-6">
        <div class="bg-faded p d-flex mr-auto rounded">
          <span class="section-heading-lower pb-4"> Nuestros clientes ? </span>
        </div>
        <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
          dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
          ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
          fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
          mollit anim id est laborum."
        </p>
      </div>
      <div class="col-lg-4 home-title">
        <img class=" img-fluid mb-3 mb-lg-0 rounded " src="{% static 'core/img/services1.png' %}" alt="">
      </div>
    </div>

  </div>

  <div class="item container pb-3">
    <h2 class="p-4 text-dark">Te esperamos</h2>
    <div class="row  alaign-items-center ">
      <div class="col-md-4">
        <img class=" img-fluid mb-3 mb-lg-0 rounded shadow-image" src="{% static 'core/img/staff1.png' %}" alt="">
      </div>
      <div class="col-md-4"> <img class=" img-fluid mb-3 mb-lg-0 rounded shadow-image"
          src="{% static 'core/img/staff2.png' %}" alt="">
      </div>
      <div class="col-md-4"> <img class=" img-fluid mb-3 mb-lg-0 rounded shadow-image`"
          src="{% static 'core/img/staff3.png' %}" alt="">
      </div>
    </div>
  </div>
  <br>


</section>

<script src="{% static 'core/js/app.js' %}"></script>

{% endblock %}