.navegation{
    padding: 20px;
    background-color:rgb(23, 22, 21) !important;
    font-family:'Raleway', sans-serif;
    font-size: 1rem;
    box-sizing: border-box !important;
    position: fixed;
    transition: all 600ms ease-in-out;
}


.scroll-animation {
  opacity: 0;
  transform: translateX(+100%);
  transition: opacity 1.5s, transform 2s;
}

.scroll-animation.fade-in {
  opacity: 1;
  transform: translateX(0);
}



.image-container {
    overflow: hidden;
  }

.page-section {
    margin-top: 5rem;
    font-family:'Raleway', sans-serif;
    
}

.section-heading-upper {
    display: block;
    font-size: 2rem;
    font-weight: 800;
    padding-bottom:.5rem;
}

.section-heading-lower{
    display: block;
    font-size: 3rem;
    font-weight: 100;
}

#div-left {
    opacity: 0;
    transform: translateX(-100%);
    transition: opacity 1.5s, transform 2s;
  }

#div-right{
    opacity: 0;
    transform: translateX(+100%);
    transition: opacity 1.5s, transform 2s;
}

.nav-hiden{
    transform:translateY(-5 rem);
}

h1{
    font-family:'Raleway', sans-serif;
    font-size: 5rem;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
    text-decoration: solid;
    font-weight: 600;

}

h2{
    font-family:'Raleway', sans-serif;
    font-size: 3rem;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
    text-decoration: solid;
    font-weight: 600;
}

.section-heading-under {
    display: block;
    font-size: 1rem;
    text-transform: none;
    font-weight: 300;
    margin-top:.5rem;
}

.service-description{
    display: block;
    font-size: 0.5rem;
}

.size-image {
    height: 300px;
    max-width: 100%;
    
}
.message{
    background-color: rgb(234, 227, 227) !important;
}

footer{
    background-color: #111;
    width: 100vw;
    font-family: "Open Sans";
    padding-top: 40px;
    color: #fff;
}

.footer-content{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}

.footer-content p{
    max-width: 31.25rem;
    line-height: 1.75rem;
    font-size: 0.875rem;
}

.lista-horarios{
    list-style: none;
    font-family:'Raleway', sans-serif;
   font-size: 1.5rem;
   font-weight: 800;
   padding: 3rem;
    color:rgb(248, 248, 248);
}

.item{
    padding-bottom:10rem;
    text-align: center;
    background-color: rgb(236, 236, 236);
    width: 100%;
}

.staff-images{
    height: 300px;
    width: 300px;
}


.lista-horarios {
    color:rgb(214, 214, 214);
}

.lista-horarios .title{
    color:rgb(214, 214, 214);
    font-size: 1rem;}

.turno-div:hover{
    opacity: 0.7;
    color:rgb(12, 10, 11); 
}

.fab {
    padding-left: 0.625rem;
    font-size: 3.125rem;
    width: 1.875rem;
    text-align: center;
    text-decoration: none;
    }

    
.fab:hover {
opacity: 0.7;
color:aqua;
}

.fa-whatsapp {
color: white;
}

.socials{
    list-style: none;
    display:flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}


.socials li{
    margin: 0 0.625rem;
}
.socials a{
    text-decoration: none;
    color:#fff
}

.shadow-image {
    box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.5);
}


.socials a i {
    font-size: 1.3rem;
}

.socials a:hover i {
    color:aqua
}

.footer-bottom{
    background:#000;
    display: flex;
    width: 100vw;
    padding:1.25rem 0;
    justify-content: center;
    text-align: center !important;
}

.footer-bottom p{
    font-size: 0.875rem;
    word-spacing: 0.125rem;
    text-transform: capitalize;
}

.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}

.card-size {
    width: 18rem ;
}