{% extends 'core/base.html' %}

{% load static %}

{% block content %}
<div class="page-section" style="background-color: rgb(138, 79, 123)" ;>
    <section class=" text-center ">
        <div class=" container  pb-5">
            <div class="row ">
                <div class="col-sm-6 text-light">
                    <ul class="lista-horarios text-start">
                        <li>
                            HORARIOS DE ATENCION:
                        </li>
                        <br>
                        <li class="title">
                            Lunes a Viernes
                        </li>
                        <li>
                            De 7:30hs a 12:00hs
                        </li>
                        <li>
                            De 15:30 a 20:00hs
                        </li>

                    </ul>
                </div>
                <div class="col-sm-6">
                    <ul class="lista-horarios">
                        <li class="title">
                            Telefono Fijo:
                        </li>
                        <li>
                            (3743)444444
                        </li>
                        <br>
                        <li class="title">
                            WhatsApp:
                        </li>
                        <li>
                            (3743)444444
                        </li>
                    </ul>

                </div>

            </div>

            <a style="text-decoration: none" href="https://wa.me/3743508561/?text=tu%20texto%20personalizado"
                target="_blank">
                <div class="turno-div container text-light m-0 rounded " style="background-color: rgb(215, 92, 184)">
                    <h2 class="p-4" style="color:aliceblue"> Consigue tu turno por WhatsApp <i class="fab fa-whatsapp">
                        </i></h2>
            </a>


        </div>
</div>

<div class="bg-dark text-light text-center">
    <h2 class="pt-5 p-2"> Visitanos! </h>
</div>

<div class="container-fluid justify-content-center bg-dark px-5 pt-5">
    <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d548.7946959531617!2d-55.02178952153024!3d-26.810272258075212!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94f8279e24ca2dc1%3A0xe8534bb54e3dbec9!2sLaboratorio%20de%20Analisis%20cl%C3%ADnicos!5e0!3m2!1sen!2sar!4v1689204072611!5m2!1sen!2sar"
        width="100%" height="450" style="border:0;" allowfullscreen="true" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>

</section>
</div>

{% endblock %}