{% extends 'core/base.html' %}

{% load static %}
{% block content %}
<section class="page-section ">
  <div class="pt-4">
    <div class="container pb-5">
      <div class="row">
        <div class=" col-sm-4">
          <img class="img-fluid rounded shadow-image " src="{% static 'core/img/cejaspestañas.jpg' %}">
        </div>
        <div class="col-sm-6 text-start">
          <div>
            <span class="section-heading-upper">Cejas y Pestañas</span>
            <span class="section-heading-lower"></span>
          </div>
          <div class="section-content"> <!-- MEJORAR -->
            <p> Cada rostro es único.
            <p>Mediante una
              consulta personalizada, crearemos la forma perfecta para tus cejas, respetando tus rasgos individuales y
              realzando tus puntos fuerte</p>
          </div>
        </div>
      </div>
    </div>
    <div class="container pb-5">
      <div class="row">
        <div class=" col-sm-4">
          <img class="img-fluid rounded shadow-image " src="{% static 'core/img/manos-y-pies.webp' %}">
        </div>
        <div class="col-sm-6 text-start">
          <div>
            <span class=" section-heading-upper">Manos y Pies</span>
            <span class="section-heading-lower"></span>
          </div>
          <div class="section-content div-left"> <!-- MEJORAR -->
            <p> Tus manos y pies merecen atención especial.
            </p>
            <p>Nuestro equipo de profesionales altamente capacitados está
              aquí para ofrecerte una experiencia de cuidado completa que dejará tus manos y pies luciendo impecables y
              radiantes. </p>
          </div>
        </div>
      </div>
    </div>
    <div class="container pb-5">
      <div class="row">
        <div class=" col-sm-4">
          <img class="img-fluid rounded shadow-image " src="{% static 'core/img/masajes.png' %}">
        </div>
        <div class="col-sm-6  text-start">
          <div>
            <span class="section-heading-upper">Masajes</span>
            <span class="section-heading-lower"></span>
          </div>
          <div class="section-content"> <!-- MEJORAR -->
            <p> Deja que nuestras manos expertas alivien tus tensiones y te transporten a un estado de relajación total.
            </p>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>

<script src="{% static 'core/js/app.js' %}"></script>

{% endblock %}